<div class="row">
    <div class="col s6 offset-s3">
        <h4 class="center <%=cor%>-text text-darken-5">Como está o IMC:</h4>
        <h5 class="center <%=cor%>-text text-lighten-4">
            
        </h5>
        <h5 class="center <%=cor%>-text text-darken-5">
            <%=imc%>
        </h5>
    </div>
</div>  